#Fond-2P
{
    background-color: rgb(245, 255, 250);
    display: flex;
    justify-content: flex-end;
}

#Fond-2P h3
{
    font-size : 2em;
    padding-right: 100px;
    color: green;
   
}

.Pratique1
{
    width : 300px;
    height:300px;
    padding-right : 10px;
}

.Pratique2
{
    width : 300px;
    height:300px;
    padding-right: 10px;
}

.Pratique3
{
    width : 300px;
    height:300px;
    padding-right: 10 px;
}

#Fond-2D
{
    background-color: rgb(245, 255, 250);
    display: flex;
    justify-content: flex-start;
}

#Fond-2D h3
{
    font-size : 2em;
    padding-left: 100px;
    color: green;  
}

.Detente1
{
    width : 300px;
    height:300px;
    padding-right : 10px;
}

.Detente2
{
    width : 300px;
    height:300px;
    padding-right : 10px;
}

.Detente3
{
    width : 300px;
    height:300px;
    padding-right: 10px;
}

#Fond-2C
{
    background-color: rgb(245, 255, 250);
    display: flex;
    justify-content: flex-end;
}

#Fond-2C h3
{
    font-size : 2em;
    padding-right: 100px;
    color: green;
   
}

.Cocooning1
{
    width : 300px;
    height:300px;
    padding-right : 10px;
}

.Cocooning2
{
    width : 300px;
    height:300px;
    padding-right: 10px;
}

.Cocooning3
{
    width : 300px;
    height:300px;
    padding-right: 10 px;
}

#Fond-2S
{
    background-color: rgb(245, 255, 250);
    display: flex;
    justify-content: flex-start;
}

#Fond-2S h3
{
    font-size : 2em;
    padding-left: 100px;
    color: green;  
}

.Service1
{
    width : 300px;
    height:300px;
    padding-right : 10px;
}

.Service2
{
    width : 300px;
    height:300px;
    padding-right : 10px;
}

.Service3
{
    width : 300px;
    height:300px;
    padding-right: 10px;
}